<section class="Page Tool mb3">
	<div class="box ba bw1 flex flex-column flex-auto">
		<div class="header">
			<div class="heading bg0 fg1 ph3 pv2">
				<h5><%= data[:mod_name] %></h5>
				<h2>
					<a class="fg1" href="/tools/<%= data[:mod_name] %>/<%= data[:name] %>">
						<%= data[:display_name] %>
					</a>
				</h2>
			</div>
		</div>

		<div class="content">
			<div>
				<div class="ma3 dib">
					<% data[:sub_tools].sort_by { |(_tool_name, tool_data)| tool_data[:display_name] }.each do |(tool_name, tool_data)| %>
						<div class="focus-container mb2 dib" tabindex="1">
						  <div class="dib" style="line-height: 0;">
								<img src="<%= import_asset('atlas:/images/tools/' + tool_data[:mod_name] + '/' + tool_data[:name] + '/x4.png') %>" />
							</div>
							<h3 class="show-on-focus bg0 fg1 dib ph3 pv2 va-top">
								<%= tool_data[:display_name] %>
							</h3>
						</div>
					<% end %>
					<div>
						<h4 class="bg0 fg1 ph3 pv1 dib">Texture Atlas(es)</h4>
					</div>
				</div>
			</div>

			<% unless data[:minimal] %>
				<% if data[:lore] then %>
					<div class="Lore">
						<h3 class="bg0 fg1 ph3 pv2">Lore</h3>
						<p><%= data[:lore] %></p>
					</div>
				<% end %>

				<div class="Recipes">
					<h3 class="bg0 fg1 ph3 pv2">Recipes</h3>
					<% data[:sub_tools].each do |(tool_name, tool_data)| %>
						<p><%= tool_data["recipe"] %></p>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</section>
