<section class="Page Node mb3">
	<div class="box ba bw1 flex flex-column flex-auto">
		<div class="header">
			<div class="heading bg0 fg1 ph3 pv2">
				<h5><%= data[:mod_name] %></h5>
				<h2>
					<a class="fg1" href="/nodes/<%= data[:mod_name] %>/<%= data[:name] %>">
						<%= data[:display_name] %>
					</a>
				</h2>
			</div>
		</div>

		<div class="content">
			<div>
				<div class="ma3 dib">
					<% data[:sub_nodes].sort_by { |(_node_name, node_data)| node_data[:display_name] }.each do |(node_name, node_data)| %>
						<div class="focus-container mb2" tabindex="1">
						  <div class="dib" style="line-height: 0;">
								<img src="<%= import_asset('atlas:/images/nodes/' + node_data[:mod_name] + '/' + node_data[:name] + '/x4.gif') %>" />
							</div>
						  <h3 class="show-on-focus bg0 fg1 dib ph3 pv2 va-top">
						  	<%= node_data[:display_name] %>
						  </h3>
						</div>
					<% end %>
					<div>
						<h4 class="bg0 fg1 ph3 pv1 dib">Texture Atlas(es)</h4>
					</div>
				</div>
				<div class="ma3 dib">
					<canvas id="model-canvas" data-node-name="<%= data[:node_name] %>">
					</canvas>
					<div>
						<h4 class="bg0 fg1 ph3 pv1 dib">Model</h4>
					</div>
				</div>
			</div>

			<% unless data[:minimal] %>
				<% if data[:lore] then %>
					<div class="Lore">
						<h3 class="bg0 fg1 ph3 pv2">Lore</h3>
						<p><%= data[:lore] %></p>
					</div>
				<% end %>

				<div class="Recipes">
					<h3 class="bg0 fg1 ph3 pv2">Recipes</h3>
					<% data[:sub_nodes].each do |(node_name, node_data)| %>
						<p><%= node_data["recipe"] %></p>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

	<script id="node_box" type="application/json">
		<%= JSON.dump(data[:node_box]) %>
	</script>
</section>
